@model IEnumerable<OnlineShopping.DomainModel.BuyRequest>
    @{
        ViewBag.Title = "Customer Orders";
        Layout = "~/Views/Shared/_Admin.cshtml";
    }

<div>

<div style="text-align:center">
<span class="alert-success">
    @TempData["BuyerEmail"]
    <br/>
</span>
    </div>
</div>
    <table class="table table-hover">
        <tr>
            <th>Request Id</th>

            <th>Product Id</th>
            <th>Product Name</th>
            <td></td>
            <th>Brand</th>
            <td></td>
            <th>Quantity</th>
            <th>User email</th>

            <th></th>
            <th></th>
            <th></th>
            


        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.RequestId</td>

                <td>@item.ProductId</td>
                <td>@item.producttable.ProductName</td>
                <td></td>
                <td>@item.producttable.Brand</td>
                <td></td>
                <td>@item.quantity</td>
                <td>@item.Email</td>
                


                <td>
                    <a href="@Url.Action("CustomerDetails",new { email=item.Email})" class="btn btn-success"><span class="glyphicon glyphicon-tasks"></span> Customer Details</a>
                    </td><td>
                    <a href="@Url.Action("BuildEmailTemplate","Email",new {id=item.RequestId})" class=" btn btn-primary"><span class="glyphicon glyphicon-envelope"></span>  Send Confirmation Mail</a></td>
                   <td> <a href="@Url.Action("CompletedOrder",new{ id=item.RequestId })" class="btn btn-danger"><span class="glyphicon glyphicon-ok"></span> Complete Order</a>

                </td>
            </tr>
        }
    </table>

