@model IEnumerable<OnlineShopping.DomainModel.Producttable>
    
@{
    ViewBag.Title = "Products List";
   
    }

<div style="text-align:center">
    <span class="alert-warning">
        @TempData["AdminUpdate"]
    </span>
</div>
    <table class="table table-hover">
        <tr>
            <th>Id</th>

            <th>Category</th>

            <th>Product Name</th>

            <th>Brand</th>
            <th>Stock</th>
            <th>Quantity</th>
            <th>Price</th>

            <th>Description</th>
            <th >Action</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductID</td>

                <td>@item.Category</td>

                <td>@item.ProductName</td>

                <td>@item.Brand</td>
                <td>@item.Stock</td>
                <td>@item.quantity</td>

                <td>@item.Price</td>

                <td>@item.Description</td>
                <td>
                    <a href="@Url.Action("Update",new { id=item.ProductID})" class="btn btn-success"><span class="glyphicon glyphicon-pencil"></span>  Edit</a>
                    <a href="@Url.Action("DeleteProduct",new{ id=item.ProductID })" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span>  Delete</a>
                </td>
            </tr>
        }
    </table>