@model IEnumerable<OnlineShopping.DomainModel.CompletedOrders>
@{
    ViewBag.Title = "Already Bought";

}

<style>
    th {
        text-align: center;
    }

    td {
        text-align: center;
    }
</style>
<table class="table table-hover">
    <tr>
        <th>Request Id</th>
        
        <th>Product Name</th>
        <th>Brand</th>
        <th>Quantity</th>
        <th>Price</th>

        <th>Approved on</th>



    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.RequestId</td>

          
            <td>@item.producttable.ProductName</td>
            <td>@item.producttable.Brand</td>
            <td>@item.quantity</td>
           
            <td>@(@item.producttable.Price*item.quantity)</td>
            <td>@item.DateTime</td>



        </tr>
    }
</table>
