@model IEnumerable<OnlineShopping.DomainModel.Cart>

@{ 
    ViewBag.Title = "Cart";
}

<div style="text-align:center">
    <span class="alert-success">
        @TempData["CartBuyRequest"]
        <br />

    </span>
</div>
@*@if(Model.Carts.count>0)*@
<table class="table table-hover">
    <tr>
        <th>Category</th>
        <th>Product Name</th>
        <th>Brand</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Description</th>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>@item.producttable.Category</td>
    <td>@item.producttable.ProductName</td>
    <td>@item.producttable.Brand</td>
    <td>
         @if (@item.quantity > 1)
          {
             <button type="button" class="SubtractQuantity" id="@item.ProductID" > - </button>
          }
         
         else

         {
           <button type="button" class="SubtractQuantity" id="@item.ProductID" disabled> -</button>
         }
    
            <input type="number" value=" @item.quantity" width="30" readonly/>

        @if (@item.quantity < @item.producttable.Stock)
        {
           <button type="button" class="AddQuantity" data-id="@item.ProductID"> + </button>
        }

        else

        {
            <button type="button" class="AddQuantity" data-id="@item.ProductID" disabled> +</button>
        }

     </td>
    <td>@(@item.producttable.Price*@item.quantity)</td>
    <td>@item.producttable.Description</td>
    <td>
        <a href="@Url.Action("CartBuy", new { id = item.producttable.ProductID , quantity=item.quantity})" class="btn btn-success"><span class="glyphicon glyphicon-tag"></span> Buy</a>
        <a href="@Url.Action("RemoveCartItem", new { id = item.CartId })" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Remove item</a>
    </td>

</tr>
    }
</table>

<script>
    $(".AddQuantity").click(function (){
        debugger;
        $.ajax({
            type: 'POST',
            url: '/User/AddCartQuantity',
            data:
            {
                productID:$(this).attr('data-id')
            }
        })
       
            .done(function () {
                $(document).ajaxStop(function () {
                    window.location.reload();
                });
            })

            .fail(function () {
                alert("Failed to add quantity");
            })
    })

    $(".SubtractQuantity").click(function () {
        debugger;
       
        $.ajax({
            type: 'POST',
            url: '/User/SubtractCartQuantity',
            data:
            {
                productID: $(this).attr('id')
            }
        })

            .done(function () {
                $(document).ajaxStop(function () {
                    window.location.reload();
                });
            })

            .fail(function () {
                alert("Failed to subtract quantity");
            })
    })
</script>